<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBesXiPKupD9QB7G9COn5TPDZAj_MgfpJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>309100222597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tabib</string>
	<key>PROJECT_ID</key>
	<string>tabib-2bc4a</string>
	<key>STORAGE_BUCKET</key>
	<string>tabib-2bc4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309100222597:ios:e34c3a5ff9c929ffc5b1ec</string>
</dict>
</plist>